<a href="https://colab.research.google.com/github/noorhanifah/CAP-python-student-management-system/blob/main/TrainingPart1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Add comment that wont be read
'''Add multiple line of comment 
Comment line 2
Comment line 3
Comment line 4 '''
#Add comment

In [ ]:
#First Python Hello World programme 
# print() function 
# used to print on a stream 

print("Hello World")
print('Hello World')
print ('Hello World')
print(1220)
''' the 'print ()' function with a space between the t and bracket is 
not recommended'''

Hello World
Hello World
Hello World
1220

In [ ]:
# Default parameter of print function 
#functionName? : will give docstring of the function 
#or help(functionName)

print?
help(print) 
print("First Line") # print("First Line", end='\n'), the next function will be printed on the new line
print("Sec Line")

print('First Line', end='\t')   # \t -->Tab Space  \n -->new line 
print('Second Line')

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

First Line
Sec Line
First Line	Second Line

In [ ]:
# Print function can print multiple value seperated by the ','
print('1st value','2nd Value', '3rd value')
# the default parameter is print('1st value', '2nd value', '3rd value',sep=' ')
print('1st value','2nd value','3rd value',sep='--->')
print('1st value','2nd value','3rd value',sep='@@')

1st value 2nd Value 3rd value
1st value--->2nd value--->3rd value
1st value@@2nd value@@3rd value

In [ ]:
#Python Numbers
#Used Python as calculator 

print(3+3)
print(10-12)
print(10*55)
print(72/2) #Division operator return value in float or decimal 

#Floor division, Always return an integer value (no decimal)
print(72//2) #Floor division = //

#Exponential operator = **
print(2**10) #2 the power of 10
print(2**2)
print(78**78)

#Modular operator % = used to give the remainder value instead the divison value 
print(17%2)

6
-2
550
36.0
36
1024
4
3831589812313461262138726500006414268147534037893115512325908939170687185145438579006950082195309705885134607990418665607337632973770507236843454464
1

In [ ]:
#Operator precedence, which operator come first
'''
1. () Prenthesis
2. ** Exponent 
3. * / // %
4. + -
'''
print(50-5*2)
print((50-5)*2)

#Associativity 
print(4*7%3) #The left one will be evaluated first & the right one will be evaluated later 

#In case of exponent ** ---> right to left associativity 
print(4**2**2)

40
90
1
256

In [ ]:
num1 = 20
num2 = 30
print (num1 + num2)

50

In [ ]:
# Data types in Py
# Py uses dynamic typing/ Dynamiclly type the program --> Can reassign variable to different data types

a = 10
print(a) 

a = 'str'
print(a)

# Int data type 
intValue = 10
print(intValue)

# type() ---> used to check the data types of the variable 

type(intValue)

# float data type (float = decimal)
aValue = 90.123
print(type(aValue), aValue)

# string data type
newValue = "Python"
print(type(newValue), newValue)

# boolean data type ---> contains true or false as value 
datatype = True 
print(type(datatype))

10
str
10
<class 'float'> 90.123
<class 'str'> Python
<class 'bool'>

In [ ]:
# Strings in Python 
str1 = "A VALUE"
str2 = 'A VALUE'
print(type(str1), type(str2))

<class 'str'> <class 'str'>

In [ ]:
course = 'PythonProgramming'
# P y t h o n P r o g r  a  m  m  i  n  g
# 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 
# It is call as indexing 
# Indexing ---> allows user to grab a single chrac from a string 
# indexing uses [] notation 
 
print(course [6])
print(course [13])

P
m

In [ ]:
# Slicing in Str
course = 'PythonProgramming'
# P y t h o n P r o g r  a  m  m  i  n  g
# 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 
#                     -7 -6 -5 -4 -3 -2 -1 (-ive slicing num) 

# slicing ---> allows user to grab portion or sub portion of a string 
# the syntax is ---> varname[startIndex:stopIndex:stepCount] 
# startIndex ---> numeric index from where thw slicing starts [INCLUSIVE]
# stopIndex ---> numeric index where the slicing ends [EXCLUSIVE]
# stepCount --->

print(course[6:16])
# letter num 6 is included, letter num 16 is excluded 

print(course[6:17])
# letter num 6 is included, letter num 17 is excluded 

#mming 
print(course[12:17])

# not describe the startIndex Py will count from 0 (the beginning)
print(course[:6])

# not describe the stopIndex Py will count till the last value (the end)
print(course[6:])

# negative slicing 
print(course[-1])

# stepCount ---> not printing the numbered character 
print(course[::2])
print(course[::4])

# reverse of a string ---> string printed in reversed character 
print(course[::-1])

Programmin
Programming
mming
Python
Programming
g
PtoPormig
Poomg
gnimmargorPnohtyP

In [ ]:
# escape charac sequences 
# print('I didn't do that') ---> will print an error as Py can't read bcs of confusion 
print('I didn\'t do that') # use '\' as solution not '/' 
# print('I didn/'t do that) ---> will print an error 
print("Welcome to \"Kaki\" Code")

I didn't do that
Welcome to "Kaki" Code

In [1]:
# Raw string ---> discards the meaning of \n & \t
print('c:\newFolder\test') # \n ---> new line \t---> tab space 

print(r'c:\newFolder\test')

c:
ewFolder	est
c:\newFolder\test

In [11]:
print('Tempearature:')
print('\n')
print('\t Kuala Lumpur : 27 degree')
print('\t New Delhi    : 16 degree')
print('\n')
print('Suhu:')
print('\n')
print('\t Sabah    : 16 C')
print('\t Selangor : 30 C')

Tempearature:


	 Kuala Lumpur : 27 degree
	 New Delhi    : 16 degree


Suhu:


	 Sabah    : 16 C
	 Selangor : 30 C

In [17]:
# Py strings can be declared using triple quotes to preserved the text formating 

print('''
Temeprature :

      Kuala Lumpur : 27 Degree 
      New Delhi    : 16 Degree 
''')
print('''
Suhu : 

      Sabah    : 16 C
      Selangor : 30 C ''')

Temeprature :

      Kuala Lumpur : 27 Degree
      New Delhi    : 16 Degree


Suhu :

      Sabah    : 16 C
      Selangor : 30 C

In [34]:
# string concatenation ---> combining 2 strings together 

firstname= 'Mimi'
lastname= 'Aina'
course= 'Python'
fees = 1500

# print 'Welcome Mimi Aina to the world of Python'
print('Welcome '+firstname)
print('Welcome ' +firstname+' '+lastname)
print('Welcome ' + firstname + ' ' + lastname + ' ' + 'to the world of ' + course)
print('Welcome '+firstname+' '+lastname+' '+'to the world of'+' '+course)

#in string concatenation the '+' operator requires value on the left and right as string
#print('Welcome '+firstname+' '+lastname+' '+'to the world of'+' '+course+'Fees will be'+fees), will give an error as the 'fees' is not string
#so the solution is Type Casting ---> str()
print('\n')
print('Welcome '+firstname+' '+lastname+' '+'to the world of'+' '+course+' Fess will be '+str(fees))
print('\n')
#or
print('Welcome',firstname,lastname,'to the world of',course,'fees will be',fees)

Welcome Mimi
Welcome Mimi Aina
Welcome Mimi Aina to the world of Python
Welcome Mimi Aina to the world of Python


Welcome Mimi Aina to the world of Python Fess will be 1500


Welcome Mimi Aina to the world of Python fees will be 1500

In [33]:
# String formatting 
# str.format()

# 1. default_order = "{} {} {}".format(value), the value will be printed in {}
default_order = "{} {} {} {}.".format('Python','is','very','easy')
print(default_order)

print('\n')

# 2. positional_order
positional_order = "{2} {0} {1}".format("is","easy","Python")
print(positional_order)
# basically say print the str num 2 then 0 then 1

print('\n')

# 3. keyword_order
keyword_order = "{m} {k}".format(m='Malaysia',k='KualaLumpur')
print(keyword_order)
keyword_order = "{k} is in {m}".format(m='Malaysia',k='Kuala Lumpur')
print(keyword_order)

Python is very easy.


Python is easy


Malaysia KualaLumpur
Kuala Lumpur is in Malaysia

In [32]:
# type conversion or type casting 
# implicit type casting 

value1=10
value2=67.43
res = value1 + value2  #10.0 + 67.43
print(res)
# Py always convert smaller data types to larger data type 

print('\n')

# explicit type casting 
value1=123
value2="456"
# res = value1 + value2 
# print(res) will give error 

res = value1 + int(value2)
print(res)

77.43


579

In [36]:
# Taking user Input
# input() ---> help to take user Input

name = input('Enter Your Name : ')
print('Welcome ', name)
print('\n')
name = input('Enter Your Name : ')
age = input('Enter Your Age : ')
print('Welcome ', name, age)

Enter Your Name : Ani
Welcome  Ani


Enter Your Name : Dahyun
Enter Your Age : 23
Welcome  Dahyun 23

In [39]:
# input function treat the value as string 
num1 = input('Enter First Value : ')
num2 = input('Enter Second Value : ')
add = num1 + num2
print('Result :', add)

print('\n')
num1 = int(input('Enter First Value : '))  # perform type casting
num2 = int(input('Enter Second Value : '))
add = num1 + num2
print('Result: ', add)

Enter First Value : 100
Enter Second Value : 200
Result : 100200


Enter First Value : 100
Enter Second Value : 200
Result:  300